input[type=button] {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text] {
  border: 2px solid pink;
  border-radius: 4px;
}
input[type=text]:focus {
  border: 3px solid #555;
}