 <style type="text/css">
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
h1{
background-color:blue;
width:40%;
}
</style>