h1{
    background-color:#674FAD; 
    color: white;
    font-family: monospace;
    align-items: center; 
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;font-size:35px;
    
}

#box1{
    background-color:whitesmoke;
    padding: 20px 20px 20px 20px;
    margin-left: 200px;
    margin-right: 200px;
}

p{
    color:black;
    font-weight:300;
    font-family:monospace;
    font-size:23px;

}

#box2{
    color: black;
    font-weight:100;
    font-family:monospace;
    font-size:15px;
    background-color:whitesmoke;
    width:25%;
    
}

#button{
    background-color: #FF9D23; 
    margin-top: 10px;
    margin-left: 35px;
    font-style: oblique;
    color: white;padding-left: 21px; 
    padding-right: 21px;font-weight: bold;
    line-height: 27px;
    font-size: 12px;border-radius: 1px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
   
    
    
}