
input:focus {
border-color: lawngreen;
  border-radius: 10px;
  
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
    }
h1{

width:40%;
}
    .container {
  padding: 16px;
}
    .submit {background-color: #4CAF50;} /* Green */
.submit:hover {background-color: #46a049;}