body {
    background-color:rgb(114, 171, 218) ;
}
table {
    width: 100%;
    font: 17px;
}
table,
th,
td {
    border: solid 2px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    align-items: center;
}
#addForm {
    display: none;
	
}

input[type=text],
select {
    width: 200px;
    height: 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.search[type=button] {
    width: 20%px;
    height: 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
table,
input[type=button],
select {
    text-align: justify-all;
}
#deleteRow{
    width: 20%px;
    height: 35px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
#AddRow{
    width: 15%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#newFormTable{
    width: 25%;
    border: none;
}
#newFormTable td{
    text-align: left;
    width: 10%;
    border: none;
}
#submitButton {
    width: 11%;
    background-color: #4CAFAB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

