<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="headbar">
    <h3 class="headtext">Click Fill Form</h3>
</div>

<div class="sidebar">
    <div class="data" ><a id="shashi" (click)="myFunction()">Fill Form</a></div>
    <div class="data">check Status</div>
    <div class="data">view Tests</div>
    <div class="data">View Security policy</div>
    <div class="data">Log Out</div>
</div>
<div id="myDIV" style="margin: -329px 10px 10px 10px;">
<app-form-list></app-form-list>
</div>
<router-outlet></router-outlet>