
 body{
  background-color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  align-content: center;
  
     }
    h1{
      color: darksalmon;
    }
    .container{
    border: 4px solid;
      border-color: gray;
    }
    .button{
      background-color: darksalmon;
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
     
      .images{
        margin: 10px 10px 10px 10px;
        text-align: center;
        align-content: center;
    }
      .error{
        color: red;
      }
