body {
    background-color: #00ffff;
}

table {
    width: 100%;
    font: 20px;
}

table,
th,
td {
    border: solid 2px #000;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    align-items: center;
}

#addForm {
    display: none;
}

input[type=text],
select {
    width: 250px;
    height: 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
}

.search[type=button] {
    width: 30%px;
    height: 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

#fetchButton {
    width: 15%;
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

table,
input[type=button],
select {
    text-align: justify-all;
}
#deleteRow{
    width: 20%px;
    height: 35px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
#AddRow{
    width: 15%;
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#newFormTable{
    width: 25%;
    border: none;
}
#newFormTable td{
    text-align: left;
    width: 10%;
    border: none;
}
#submitButton {
    width: 11%;
    background-color: #4CAFAB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}