 input[type=text] {
        background-color:whitesmoke;
  width: 50%;
  border-radius: 4px;
  padding: 12px 20px;
  border: 2px solid black;
  font-family: cursive;

  margin: 8px 0;
  box-sizing: border-box;
}


input[type=submit] {
  background-color:dodgerblue;
  color: white;
  padding: 12px 100px;
  border: none;
  border-radius: 4px;
  font-family: cursive;

  cursor: pointer;
}

input[type=submit]:hover {
  background-color: green;
}
 label{
   font-family: cursive;
 }
 h2{
  font-family: cursive;

 }