   table {
  font-family: cursive;
  border-collapse: collapse;
  width: 100%;
}

th,tr,td {
  border: 1px solid #0a020291;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #66c7ee;
}
input[type=button] {
    margin: 10px 10px 10px 10px;
    font-family: cursive;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
}
input[type=button]:hover {
  background-color:crimson;
}
h1{
    background-color: #66c7ee;
    border: 1px solid black;

}
#search {
  font-family: cursive;
    width: 20%;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
 form{
  display: none;
  background-color:whitesmoke;
  width: 50%;
  border-radius: 4px;
  padding: 12px 20px;
  border: 2px solid black;
  font-family: cursive;
  margin: 8px;
  box-sizing: border-box;
  all:center
} 
input[type=submit]:hover {
  background-color: mediumseagreen;
  font-family: cursive;
}
input[type=submit] {
  background-color:#66c7ee;
  color:black;
  padding: 12px 100px;
  border: none;
  border-radius: 4px;
  font-family: cursive;
  cursor: pointer;
}
input[type=text] {
    font-family: cursive;
}
